# Google Analytics
PUBLIC_GA_ID=

# Crisp Chat
PUBLIC_CRISP_WEBSITE_ID=
# Optional: set to true if you want Crisp to load in local development
PUBLIC_CRISP_ENABLE_IN_DEV=false

# Giscus Comments
PUBLIC_GISCUS_REPO=
PUBLIC_GISCUS_REPO_ID=
PUBLIC_GISCUS_CATEGORY=
PUBLIC_GISCUS_CATEGORY_ID=
